*{
	margin: 0px auto;
}
#注册表单 img{
	height: 900px;
	width: 1345px;
	margin-left:10px;
}
#注册表单 h1{
	border: 1px solid #000000;
	height: 500px;
	margin-top: -800px;
	margin-left: 440px;
}
#注册表单 h1 li{
	position: relative;
	margin-left: 150px;
	list-style: none;
	font-size: 50px;
}
.btn3{
	color: #007AFF;
	font-size: 30px;
	height: 50px;
	width: 100px;
}
#dibu{
	text-align: center;
	margin-top: 9px;
	width: 500px;
	background-color: #BECEDE;
	height: 60px;
	font-size: 10px;
}
#dibu a{
	text-decoration: none;
	color: black;
}
#dibu p{
	padding-top: px;
}
#dibu img{
	height: 15px;
	position: relative;
	margin-top: -10px;
}
ul {margin: 0px;padding: 0px;}
ul li{
	height: 32px;
	width:99px;
	list-style: none;
	float: left;
	diaplay:inline;
	font: 0.9em Arial, Helvetica, sans-serif;
	position:relative;z-index:1000;
	}
ul li a{
	color: white;
	width: 100px;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	text-decoration: none;
	background-color: #0A4F9D;
	display: block;
	line-height: 29px;
	border: 1px solid black;
	
}
ul li ul li{
	height: 25px;
	}
ul li ul li a{
	background: #0A4F9D;
	line-height: 24px;
	}
ul li a:hover{
	background: #0A4F9D;
	color: #05FFF8;
	}
ul li ul {
	display: none;
	}
ul li ul li
{
	height: 25px;
	}
ul li ul li a{
	background:#0A4F9D;
	line-height: 24px;
	}
ul li a:hover{
	background: #0A4F9D;
	}
ul li ul {display: none;}
ul li:hover ul{display: block;}
ul li ul li a:hover{background-color: blue}
